.events {
  padding-top: 80px;
  color: #111c4e;
}

.parkbox {
  background: #dbe5f2;
  padding: 40px;
  margin-top: 80px;
  margin-bottom: 80px;

  @include md {
    display: flex;
    h3 {
      margin-right: 120px;
    }
  }
}
.march {
  display: flex;
  margin-top: 45px;
  grid-gap: 10px;
  justify-content: center;

  @include md {
    display: none;
  }
}

.events-cal {
  display: none;

  @include md {
    margin-top: 40px;
    display: list-item;
  }
}

.month {
  padding: 45px 300px;
  background: #0093e0;
  text-align: center;
}

.month ul li {
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #0093e0;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #0093e0;
  color: white !important;
}
