.history {
  padding-top: 80px;
  color: #111c4e;
}

.jazzhistor {
  background: url("/deploy/img/jazzhistory.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
}

.histtrumpet {
  background: url("/deploy/img/trumpetplayer.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
}
