.media {
  padding-top: 80px;
  img {
    display: none;
  }
}

.videos {
  line-height: 1.5;
  border-bottom: 1px solid #0156cb;
  padding: 20px;
}

.photos {
  padding: 20px;
}

@include md {
  .videos img {
    display: list-item;
  }

  .photos img {
    display: list-item;
  }
}
