.rentals {
  background: #8f6c95;
  color: #ffffff;
  padding-top: 80px;
}

.book {
  margin-bottom: 75px;
  font-weight: 600;
  button {
    background: #b7b7b8;
    color: #0156cb;
    border: none;
    padding: 5px 10px;
    font-weight: 600;
  }
}

.table1 {
  color: #111c4e;
  margin-top: 40px;
  margin-left: 20px;
  margin-bottom: 40px;
  tr th {
    font-family: Neuton;
    padding: 15px;
  }
  tr td {
    padding: 15px;
  }
}
.table2 {
  color: #111c4e;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  tr th {
    font-family: Neuton;
    padding: 15px;
  }
  tr td {
    padding: 15px;
  }
}
.table3 {
  color: #111c4e;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  tr th {
    font-family: Neuton;
    padding: 15px;
  }
  tr td {
    padding: 15px;
  }
}

.purp {
  background: #a39ce2;
  padding: 50px;
  margin-top: 45px;
}

.purp2 {
  background: #a39ce2;
  padding: 50px;
  margin-bottom: 80px;
}

@include md {
  .purp {
    margin-bottom: 40px;
  }

  .book {
    text-align: center;
  }
}
