.welcome {
  background: #8f6c95;
  color: #ffffff;

  .semibolditalic {
    font-weight: 600;
    font-style: italic;
  }

  .regular {
    font-weight: 400;
  }

  .cc {
    background-color: #194f90;
  }
}

//font-size: rem-calc(16);
