/* =============
    Base
============= */
figure {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "hero"
    "welcome"
    "history"
    "education"
    "membership"
    "rentals"
    "events"
    "donate"
    "media"
    "footer";
}

.header {
  grid-area: header;
}

.hero {
  grid-area: hero;

  img {
    width: 100%;
  }

  @include md {
    grid-template-columns: repeat(8, 1fr);
  }
}

.welcome {
  grid-area: welcome;

  @include md {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "w w w w w . . ."
      "i i i i img img img img"
      "ii ii ii ii img img img img"
      "edu1 edu1 edu1 edu1 edu2 edu2 edu2 edu2";

    .cc {
      grid-area: w;
    }

    .intro {
      grid-area: i;
    }

    .performer-img {
      grid-area: img;
    }

    .intro2 {
      grid-area: ii;
    }

    .eduevents1 {
      grid-area: edu1;
    }

    .eduevents2 {
      grid-area: edu2;
    }
  }
}

.history {
  grid-area: history;

  @include md {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
      "h h h . s s s s"
      ". u u u u u u ."
      "tory tory tory tory tory tory tory tory"
      "tory tory tory tory tory tory tory tory"
      ". wat wat wat wat wat wat ."
      ". st st st st st st ."
      "trum trum trum trum trum trum trum trum"
      "trum trum trum trum trum trum trum trum";

    .title {
      grid-area: h;
    }

    .segregation {
      grid-area: s;
    }

    .unusual {
      grid-area: u;
    }

    .jazzhistor {
      grid-area: tory;
    }

    .dr {
      grid-area: wat;
    }

    .streets {
      grid-area: st;
      display: flex;
    }

    .histtrumpet {
      grid-area: trum;
    }
  }
}

.education {
  grid-area: education;

  .ens-title {
    a {
      display: grid;
      grid-template-columns: 180px auto;
      align-items: center;
    }
  }

  @include md {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(17, auto);

    .bass {
      img {
        width: 100%;
      }
    }
    .programs {
      grid-column: span 2;
      grid-row: 3/17;
    }
  }
}

.membership {
  grid-area: membership;

  @include md {
    ul {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-areas:
        "mem mem mem ba ba bb bb ."
        ". bc bc bd bd be be .";

      .title {
        grid-area: mem;
      }

      #member-box-1 {
        grid-area: ba;
      }

      #member-box-2 {
        grid-area: bb;
      }

      #member-box-3 {
        grid-area: bc;
      }

      #member-box-4 {
        grid-area: bd;
      }

      #member-box-5 {
        grid-area: be;
      }
    }
  }
}

.rentals {
  grid-area: rentals;

  img {
    width: 100%;
  }

  @include md {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
      "ti ti . . pur pur pur pur"
      "ti ti  . . purr purr purr purr"
      "hall hall hall hall hall hall hall hall"
      "hall hall hall hall hall hall hall hall"
      "ta ta ta ta ta ta2 ta2 ta2"
      ". . tb3 tb3 tb3 tb3 . ."
      ". bo bo bo bo bo bo .";

    .purp {
      grid-area: pur;
    }

    .purp2 {
      grid-area: purr;
    }

    .note {
      grid-area: hall;

      h5 {
        text-align: center;
      }
    }

    .table1 {
      grid-area: ta;
    }

    .table2 {
      grid-area: ta2;
    }

    .table3 {
      grid-area: tb3;
    }

    .book {
      grid-area: bo;
    }

    .title {
      grid-area: ti;
      margin-top: auto;
    }
  }
}

.events {
  grid-area: events;
}
.donate {
  grid-area: donate;
}

.media {
  grid-area: media;
  a {
    text-decoration: none;
    display: grid;
    grid-template-columns: 70px auto;
    align-items: center;
  }

  @include lg {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
      "m m m m . . . . . . . ."
      "v v v v v v p p p p p p"
      "v v v v v v p p p p p p"
      "v v v v v v p p p p p p";

    .title {
      grid-area: m;
    }

    .videos {
      grid-area: v;
    }

    .photos {
      grid-area: p;
    }
  }
}

.footer {
  grid-area: footer;

  .socials ul {
    display: flex;
  }

  .locations {
    section ul li {
      display: grid;
      grid-template-columns: 25px 200px;
      grid-gap: 10px;
    }
  }

  @include md {
    .content {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 50px;

      grid-template-areas:
        "locations locations locations newsletter newsletter newsletter"
        "locations locations locations socials socials socials";

      .locations {
        grid-area: locations;
      }

      .newsletter {
        grid-area: newsletter;
      }

      .socials {
        grid-area: socials;
      }
    }
  }

  @include lg {
    .content {
      grid-template-areas: ". locations newsletter newsletter socials .";
    }
  }
}

h1 {
  font-family: "Neuton";
}
h2 {
  font-family: "Neuton";
}

h3 {
  font-family: "Neuton";
}
p {
  font-family: "Montserrat";
}
