/* =============
    Base
============= */
figure {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "hero"
    "welcome"
    "history"
    "education"
    "membership"
    "rentals"
    "events"
    "donate"
    "media"
    "footer";

  .header {
    grid-area: header;
  }

  .hero {
    grid-area: hero;
  }

  .welcome {
    grid-area: welcome;
    @include md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 200px);
    }
  }

  .history {
    grid-area: history;
  }

  .education {
    grid-area: education;
  }

  .membership {
    grid-area: membership;
  }

  .rentals {
    grid-area: rentals;
  }

  .events {
    grid-area: events;
  }
  .donate {
    grid-area: donate;
  }

  .media {
    grid-area: media;
  }

  .footer {
    grid-area: footer;
    .socials {
      display: flex;
    }
  }
}
