/* =============
    Base
============= */
figure {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "hero"
    "welcome"
    "history"
    "education"
    "membership"
    "rentals"
    "events"
    "donate"
    "media"
    "footer";

  .header {
    grid-area: header;
  }

  .hero {
    grid-area: hero;
  }

  .welcome {
    grid-area: welcome;
    @include md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, auto);

      .intro {
        grid-area: 2;
        grid-template-rows: 200px;
      }
      .performer {
        grid-row: 2/3;
      }
      .intro2 {
        grid-row: 3;
        grid-area: 3;
      }
      .eduevents1 {
        grid-column: 1;
        grid-row: 4;
      }
      .eduevents2 {
        grid-column: 2;
        grid-row: 4;
      }
    }
  }

  .history {
    grid-area: history;
    @include md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(8, auto);

      .title {
        grid-row: 1/8;
      }
      .segregation {
        grid-column: 2;
        grid-row: 1;
      }
      .unusual {
        grid-column: span 2;
      }
      .jazzhist {
        grid-column: span 2;
      }
      .streets {
        display: flex;
      }
    }
  }

  .education {
    grid-area: education;
    @include md {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(17, auto);

      .bass {
        img {
          width: 200%;
        }
      }
      .programs {
        grid-column: span 2;
        grid-row: 3/17;
      }
    }
  }

  .membership {
    grid-area: membership;
  }

  .rentals {
    grid-area: rentals;
  }

  .events {
    grid-area: events;
  }
  .donate {
    grid-area: donate;
  }

  .media {
    grid-area: media;
    display: none;
  }

  .footer {
    grid-area: footer;
    .socials {
      display: flex;
    }
  }
}
