/* =============
    Navigation
============= */
a {
  text-decoration: none;
  transition: 0.25s;
}

#nav-container {
  ul {
    display: none;
    margin-bottom: 25px;
  }

  ul li {
    text-align: center;

    a {
      text-decoration: none;
      display: inline-block;
      padding: 10px;
      background: #0156cb;
      width: 100%;
      transition: 0.25s;
      color: white;

      &:hover {
        background: darken(#0156cb, 10%);
      }

      &:active {
        background: #0156cb;
      }

      &:link,
      &:visited {
        color: darken(#0156cb, 20%);
      }
    }
  }

  @include lg {
    .header {
      display: flex;
      justify-content: space-between;
    }
    #nav-container {
      ul {
        display: flex;
      }
      ul li {
        a {
          background: none;
        }
      }
    }
  }
}
